@model IEnumerable<Student>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create" asp-controller="Students">Create a Student</a>
</p>

<div>
    <h4>Students</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StudentId)
        </dt>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateOfBirth)
        </dt>
    </dl>
</div>
<tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.StudentId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayNameFor(model => model.DateOfBirth)
            </td>
            <td>
                <a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.StudentId">Edit</a>
                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.StudentId">Delete</a>
            </td>
        </tr>
    }
</tbody>

<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
